@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: right;
        padding-inline-start: 20px;
        background-color: transparent;
    }

    .hamburger {
        display: none; 
    }

    nav ul.visible {
        display: flex; 
    }

    .album-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}